<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav.ts</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="./../forms//forms.html">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>

    <!-- Developer SOH TAGNE AACHILLE IVES
    FULLSTACK DEVELOPER
    2024 -- CANADA MONTREAL -->

    <div id="mySidebar" class="sidebar">
        <div class="head0logo">
            <i class="fab fa-shopware"></i>
            <p class="logo">Assist</p>
        </div>

        <div class="ul-list-items">
            <a href="/index.html" class="icon-1"> <i class="fa fa-dashboard">&nbsp;&nbsp; </i>Dashboard</a>
            <a href="" class="icon-1"> <i class="fas fa-tasks">&nbsp;&nbsp;</i>Task</a>
            <a href="" class="icon-1"> <i class="far fa-chart-bar">&nbsp;&nbsp;</i>Statistics</a>
            <a href="" class="icon-1"> <i class="fas fa-users">&nbsp;&nbsp;</i>Profiles</a>
            <a href="" class="icon-1"> <i class="fas fa-cog">&nbsp;&nbsp;</i>Settings</a>
        </div>
       
        <div class="logout">
            <a href="" class="icon-log hover_not">
                <i class="fas fa-comments"></i>
                &nbsp;&nbsp;
                Notifications 
                &nbsp;&nbsp;<span class="not_fication">+1</span>
                
            </a>
            <a href="" class="icon-log hover_out">
                <i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>
                
                logout
            </a>
        </div>
    </div>
    <div class="header">
        <div class="head">
            <div class="left">
                <h3><i class="fas fa-bars"></i></h3>
            </div>
            <div class="right">
                <p>Achille Soh.</p>
                <img class="profile-logo" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile-picture">
                
            </div>

        </div>
    </div>
    <div id="main" class="main-container">
        <!-- <div class="main-content">
          <p>Simple Forms.</p>


          
        </div> -->
        <br><br>
        <div class="main_below_content">
            <p>Simple Forms.. (Large form)</p>
            <div class="container">
                <br><br>
                <form>
                    <div class="mb-3">
                     
                      <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                    </div>
                    <div class="mb-3">
                    
                      <input type="email" class="form-control" placeholder="input email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                    </div>
                    <div class="mb-3">
                    
                      <input type="number" class="form-control" placeholder="input number" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                    </div>
                    <div class="mb-3">
                    
                      <input type="date" placeholder="input date.." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                    </div>
                    <div class="mb-3">
                    
                      <input type="time" placeholder="input time.." class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                    
                      <input type="file" placeholder="select file.." class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select option..</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>




                    <button  type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Submit</button>
                    <br><br>
                  </form>
            </div>
            <br><br>
            <div class="container">
                <br><br>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
              
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select option..</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="mb-3">
                         
                            <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="date" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="number" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="file" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="time" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="date" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-3">
                         
                            <input type="date" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="text" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="date" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                         
                            <input type="time" placeholder="input text..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                    </div>
                </div>

                <br>
             
            </div>
        </div>

    </div>
  
    


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="../../js/script.js"></script>
    <script src="https://kit.fontawesome.com/e6a5c90285.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>